button {
    background: none;
    border: 1px solid white;
border-radius: 25% 10%;
width: 60px;
height: 60px;
position: relative;
}

.bottom-button {
    width: 140px;
        height: 60px;
        margin-top: 15px;

}
